@model dynamic

@{
    ViewBag.Title = "register-donate";
}
<div class="element-wrapper col-8 mx-auto">
    <h6 class="element-header">Realizar Doação</h6>
    <div class="element-box">

        <form id="formValidate">
            <h5 class="form-header">Cadastro de Doações</h5>
            <div class="form-desc">
                Cadastre aqui o que você deseja doar, para que a entidade com interesse possa requisitar.
            </div>
            <div class="form-group">
                <label for=""> Título</label>
                <input type="text" class="form-control" name="title" data-error="Titulo da doação inválido" required="required">
                <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>

            <div class="form-group">
                <label for=""> Afinidade da doação</label>
                <select name="category" class="form-control select2" multiple="true" required="required">
                    @foreach (String c in ViewBag.category_event)
                    {
                        <option value="@c">@c</option>
                    }
                </select>
                <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>

            <div class="form-group">
                <label> Descrição da doação</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for=""> Quantidade de itens</label>
                <input class="form-control" name="quantity" data-error="Quantidade inválida" required="required" type="number">
                <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="collect_donation" type="checkbox">Preciso que a doação seja retirada no local.
                </label>
            </div>

            <fieldset id="collect_donation_address" class="form-group" style="display: none">
                <legend>
                    <span>Endereço de retirada da doação</span>
                </legend>

                <div class="form-group">
                    <label for=""> CEP</label>
                    <input id="cep" class="mask_cep form-control" name="cep" data-error="" placeholder="" type="text">
                </div>
                <div class="row">
                    <div class="form-group col-sm-8">
                        <div class="form-group">
                            <label for=""> Endereço</label>
                            <input class="autocomplete-address form-control" name="address" data-error="Endereço invalido" placeholder="" type="text">
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="form-group">
                            <label for="">Número</label>
                            <input class="form-control" name="street_number" data-error="Numero invalido" placeholder="" type="text">
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""> Ponto de Referência</label>
                    <input class="form-control" name="reference" data-error="" placeholder="" type="text">
                </div>
                <div class="form-group">
                    <label for=""> Bairro</label>
                    <input class="autocomplete-neighborhood form-control" name="neighborhood" data-error="" placeholder="" type="text">
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for=""> Cidade</label>
                            <input class="autocomplete-city form-control" name="city" data-error="" placeholder="" type="text" value="Caxias do Sul">
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for=""> UF</label>
                            <select class="autocomplete-state form-control" name="state">
                                <option>AC</option>
                                <option>AL</option>
                                <option>AM</option>
                                <option>AP</option>
                                <option>BA</option>
                                <option>CE</option>
                                <option>DF</option>
                                <option>ES</option>
                                <option>GO</option>
                                <option>MA</option>
                                <option>MG</option>
                                <option>MS</option>
                                <option>MT</option>
                                <option>PA</option>
                                <option>PB</option>
                                <option>PE</option>
                                <option>PI</option>
                                <option>PR</option>
                                <option>RJ</option>
                                <option>RN</option>
                                <option>RO</option>
                                <option>RR</option>
                                <option selected>RS</option>
                                <option>SC</option>
                                <option>SE</option>
                                <option>SP</option>
                                <option>TO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            
            <div class="form-buttons-w">
                <button class="btn btn-primary" type="submit">
                    Enviar
                </button>
            </div>

        </form>
    </div>
</div>