@model dynamic

@{
    ViewBag.Title = "register-donate";
}
<div class="element-wrapper col-8 mx-auto">
    <h6 class="element-header">Realizar Doação</h6>
    <div class="element-box">
        
        <form id="formValidate">
            <h5 class="form-header">Cadastro de Eventos</h5>
            <div class="form-desc">
                Cadastre aqui uma nova campanha e envie o convite para os voluntários com interesse no evento.
            </div>
            <div class="form-group">
                <label for=""> Título</label>
                <input type="text" class="form-control" name="title" data-error="Titulo do evento inválido" required="required">
                <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>


            <div class="form-group">
                <label for=""> Afinidade da doação</label>
                <select name="category" class="form-control select2" multiple="true" required="required">
                    @foreach (String c in ViewBag.category_event)
                    {
                        <option value="@c">@c</option>
                    }
                </select>
                <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>

            <div class="form-group">
                <label> Descrição da doação</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            
            <div class="form-group">
                <label for=""> Quantidade de itens</label>
                <input class="form-control" name="quantity" data-error="Quantidade inválida" required="required" type="number">
                <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>

            <div class="form-buttons-w">
                <button class="btn btn-primary" type="submit">
                    Enviar
                </button>
            </div>
        </form>
                       
    </div>
</div>

