@model dynamic

@{
    ViewBag.Title = "register_moderator";
}

<div class="element-wrapper col-8 mx-auto">
    <h6 class="element-header">Registrar novo moderador</h6>
    <div class="element-box">
        
        <form>
            
            
            
        </form>
        
    </div>
</div>