@model dynamic

@{
    ViewBag.Title = "donations";
}
<div class="element-wrapper col-8 mx-auto">
    <h6 class="element-header">Doações</h6>
    <div class="element-box">
        <h5 class="form-header">Doações relevantes para você</h5>
        <legend><span></span></legend>
        
        <div class="element-box-tp">
            <div class="post-box">
                @* Esta div deve aparecer só se o voluntário inserir uma imagem *@
                @* <div class="post-media" style="background-image: url(/Template/img/portfolio1.jpg)"> *@
                @* </div> *@
                <div class="post-content">
                    <h6 class="post-title">Móvel para guardar mantimentos</h6>
                    <div class="post-text">O móvel esta em bom estado, pretendo doar pois estou de mudança</div>
                    <div class="post-foot">
                        <div class="post-tags">
                            <div class="badge badge-primary">
                                Pets</div>
                            <div class="badge badge-primary">
                                Necessitados</div>
                        </div>
                        <a class="post-link" href="#">
                            <span>Ver mais</span>
                            <i class="os-icon os-icon-arrow-right7">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="post-box">
                <div class="post-media" style="background-color: aliceblue; background-image: url(~/Template/img/portfolio2.jpg)">
                </div>
                <div class="post-content">
                    <h6 class="post-title">Mesa quatro lugares</h6>
                    <div class="post-text"> Não estou utilizando esta mesa, pretendo doar para que ela possa ser útil para alguém</div>
                    <div class="post-foot">
                        <div class="post-tags">
                            <div class="badge badge-primary">
                                Pets</div>
                            <div class="badge badge-primary">
                                Idosos</div>
                        </div>
                        <a class="post-link" href="#">
                            <span>Ver mais</span>
                            <i class="os-icon os-icon-arrow-right7">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <a class="centered-load-more-link" href="#">
                <span>Ver mais doações</span>
            </a>
        </div>
        
    </div>
</div>
