@model dynamic

@{
    ViewBag.Title = "entity";
}

<div class="element-wrapper col-8 mx-auto">
    <h6 class="element-header">Dashboard</h6>
    <div class="element-box">
        <h5 class="form-header">Título da página</h5>
        <legend><span></span></legend>
    </div>
</div>